body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(235, 235, 235)
}

h1 {
  color: white;
  background-color: darkblue;
  font-size: 36px;
  padding: 10px;
}

ul {
  font-size: 24px;
  padding: 5px 5%;
}

li {
  margin: 15px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}